<%- include('partials/head') %>
<% if (token.class) { %>
  <h1><%= token.class %></h1>
  <h2>Tests</h2>
  <% if (tests && tests.length > 0) { %>
    <ul>
      <% tests.forEach(function(test) { %>
        <li><a href="/test/<%= test.uid %>"><%= test.name %></a></li>
        <ul>
          <li><%- test.desc %></li>
          <li><a href="/edittest/<%= test.uid %>">Edit Test</a></li>
        </ul>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No tests for this class.</p>
  <% } %>
  <p><a href="/newtest">Make new Test</a></p>
<% } else { %>
  <p>No class selected.</p>
<% } %>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  socket.on('connect', () => {
    console.log('Connected to server');
  });

  socket.on('disconnect', () => {
    console.log('Disconnected from server');
  });

</script>
<%- include('partials/foot') %>